body{
  background-color: #c6bfbf;
}
.App {
  padding: 30px;
  display: flex;
  margin: 0 auto;
}

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

.error {
  border: 1px solid red;
}

.error-message{
  color: red;
}

.is-done{
  opacity: 0.5;
}
.active-filter {
    background-color: lightgreen;
}